  
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        active_page='{{active_page}}';
        const average = arr => arr.reduce((a,b) => a+b,0)/arr.length;

        function kirimtext(){
            var text = $('#text-input').val();
            $.ajax({
                type:'POST',
                url:"{{url_for('katatest')}}",
                dataType: 'json',
                data:text,
                beforeSend:function(){
                    $('.waiting-response').show()
                },
                success: function(response){
                    $('.waiting-response').hide()
                    console.log(response)
                    $('#text-preprocess').text(response['sesudah'])
                    $('#hasil-svm').text(response['hasilSVM'])
                    $('#hasil-naive').text(response['hasilNB'])

                }
            })
        }

        
        $(document).ready(function() {
            $('#dataTweet').DataTable({
                "ajax":"/datapreprocess",
                "searching": false,
                "pageLength":5,
                "lengthMenu":[[5,10,20,-1],[5,10,20,'Todos']]
            });
            $('.waiting-response').hide()

        } );

        if(active_page == 'crossval'){
            $(document).ready(function(){
                $.ajax({
                    type:'GET',
                    url:"{{url_for('proseskfold')}}",
                    dataType:"json",
                    success:function(result){
                        console.log(result["scoresNaive"])
                        var ctx = document.getElementById("myPieChartKross");
                        var myPiceChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: ["Positif", "Negatif"],
                                datasets: [{
                                data: [result["positif"],result["negatif"]],
                                backgroundColor: ['#4e73df', '#1cc88a',],
                                hoverBackgroundColor: ['#2e59d9', '#17a673',],
                                hoverBorderColor: "rgba(234, 236, 244, 1)",
                                }],
                            },
                            options: {
                                maintainAspectRatio: false,
                                tooltips: {
                                backgroundColor: "rgb(255,255,255)",
                                bodyFontColor: "#858796",
                                borderColor: '#dddfeb',
                                borderWidth: 1,
                                xPadding: 15,
                                yPadding: 15,
                                displayColors: false,
                                caretPadding: 10,
                                },
                                legend: {
                                display: false
                                },
                                cutoutPercentage: 80,
                            },
                        })

                        var avgSVM = average(result["scoresSVM"]);
                        var avgNaive = average(result["scoresNaive"])
                        
                        $("#average").append(`
                            <h4 class="small font-weight-bold">Support Vector Machine <span class="float-right">`+(avgSVM )+`</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: `+ (avgSVM*100) +`%" aria-valuenow="`+ (avgSVM*100) +`" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold">Naive Bayes <span class="float-right">`+ (avgNaive) +`</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: `+ (avgNaive*100) +`%" aria-valuenow="`+ (avgNaive*100) +`" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        `)
                        

                        var ctx = document.getElementById("myAreaChartKross");
                        var myLineChart = new Chart(ctx,{
                            type: 'line',
                            data: {
                                labels: ["CV1", "CV2", "CV3", "CV4", "CV5", "CV6", "CV7", "CV8", "CV9", "CV10"],
                                datasets: [{
                                label: "K-Fold Cross Validation Naive Bayes Algorithm",
                                lineTension: 0.3,
                                backgroundColor: "rgba(78, 115, 223, 0.05)",
                                borderColor: "rgba(78, 115, 223, 1)",
                                pointRadius: 3,
                                pointBackgroundColor: "rgba(78, 115, 223, 1)",
                                pointBorderColor: "rgba(78, 115, 223, 1)",
                                pointHoverRadius: 3,
                                pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                                pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                                pointHitRadius: 10,
                                pointBorderWidth: 2,
                                data: result["scoresNaive"],
                                }],
                            },
                            options: {
                                maintainAspectRatio: false,
                                layout: {
                                    padding: {
                                        left: 10,
                                        right: 25,
                                        top: 25,
                                        bottom: 0
                                    }
                                },
                                scales: {
                                xAxes: [{
                                    time: {
                                    unit: 'date'
                                    },
                                    gridLines: {
                                    display: false,
                                    drawBorder: false
                                    },
                                    ticks: {
                                    maxTicksLimit: 10
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                    maxTicksLimit: 5,
                                    padding: 10,
                                    },
                                    gridLines: {
                                    color: "rgb(234, 236, 244)",
                                    zeroLineColor: "rgb(234, 236, 244)",
                                    drawBorder: false,
                                    borderDash: [2],
                                    zeroLineBorderDash: [2]
                                    }
                                }],
                                },
                                legend: {
                                display: false
                                },
                                tooltips: {
                                backgroundColor: "rgb(255,255,255)",
                                bodyFontColor: "#858796",
                                titleMarginBottom: 10,
                                titleFontColor: '#6e707e',
                                titleFontSize: 14,
                                borderColor: '#dddfeb',
                                borderWidth: 1,
                                xPadding: 15,
                                yPadding: 15,
                                displayColors: false,
                                intersect: false,
                                mode: 'index',
                                caretPadding: 10,
                                }
                            }
                        });

                        var ctx = document.getElementById("myAreaChartKrossSVM");
                        var myLineChart = new Chart(ctx,{
                            type: 'line',
                            data: {
                                labels: ["CV1", "CV2", "CV3", "CV4", "CV5", "CV6", "CV7", "CV8", "CV9", "CV10"],
                                datasets: [{
                                label: "K-Fold Cross Validation SVM Algorithm",
                                lineTension: 0.3,
                                backgroundColor: "rgba(78, 115, 223, 0.05)",
                                borderColor: "rgba(78, 115, 223, 1)",
                                pointRadius: 3,
                                pointBackgroundColor: "rgba(78, 115, 223, 1)",
                                pointBorderColor: "rgba(78, 115, 223, 1)",
                                pointHoverRadius: 3,
                                pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                                pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                                pointHitRadius: 10,
                                pointBorderWidth: 2,
                                data: result["scoresSVM"],
                                }],
                            },
                            options: {
                                maintainAspectRatio: false,
                                layout: {
                                    padding: {
                                        left: 10,
                                        right: 25,
                                        top: 25,
                                        bottom: 0
                                    }
                                },
                                scales: {
                                xAxes: [{
                                    time: {
                                    unit: 'date'
                                    },
                                    gridLines: {
                                    display: false,
                                    drawBorder: false
                                    },
                                    ticks: {
                                    maxTicksLimit: 10
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                    maxTicksLimit: 5,
                                    padding: 10,
                                    },
                                    gridLines: {
                                    color: "rgb(234, 236, 244)",
                                    zeroLineColor: "rgb(234, 236, 244)",
                                    drawBorder: false,
                                    borderDash: [2],
                                    zeroLineBorderDash: [2]
                                    }
                                }],
                                },
                                legend: {
                                display: false
                                },
                                tooltips: {
                                backgroundColor: "rgb(255,255,255)",
                                bodyFontColor: "#858796",
                                titleMarginBottom: 10,
                                titleFontColor: '#6e707e',
                                titleFontSize: 14,
                                borderColor: '#dddfeb',
                                borderWidth: 1,
                                xPadding: 15,
                                yPadding: 15,
                                displayColors: false,
                                intersect: false,
                                mode: 'index',
                                caretPadding: 10,
                                }
                            }
                        });
                    }
                })
            })
        }

        if (active_page=='svm' || active_page=='naive') {
            $(document).ready(function(){
                if (active_page=='svm'){
                    url = "{{url_for('klasifikasisvm')}}"
                }else {
                    url = "{{url_for('klasifikasinaive')}}"
                }
                $.ajax({
                    type:'GET',
                    url:url,
                    dataType:'json',
                    beforeSend:function(){
                        $('.waiting-response').show()
                    },
                    success:function(result){
                        $('.waiting-response').hide()
                        $('#total').text(result['total'])
                        $('#positif').text(result['positif'])
                        $('#negatif').text(result['negatif'])
                        $('#time_train').text(result['time_train'])
                        $('#time_predict').text(result['time_predict'])
                        $('#acc').text(result['acc'])
                        $('#pcc').text(result['pcc'])
                        $('#rec').text(result['rec'])
                        $('#f1').text(result['f1'])
                        $('#true-positif').text(result.cm[0][0])
                        $('#true-negatif').text(result.cm[1][1])
                        $('#false-positif').text(result.cm[0][1])
                        $('#false-negatif').text(result.cm[1][0])

                        console.log(result.cm_SVM[0][0])
                    }
                })
            })
        }
            
    </script>

</body>

</html>