{% extends 'base.html' %}  
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Preprocess</h1>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Setelah Preprocessing</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTweet" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Value</th>
                        <th>Tweet</th>
                        <th>Cleaning</th>
                        <th>Tweet Tokenize</th>
                        <th>Stopwords</th>
                        <th>Normalization</th>
                        <th>Text Stemmming</th>
                    </tr>
                </thead>
                <tbody>
                <!-- {% for data in datas %}
                    {% for index in range(0, total) %}
                    <tr>
                        <td>{{ index+1 }}</td>
                        <td>{{ data.Value[index] }}</td>
                        <td>{{ data.tweet[index] }}</td>
                        <td>{{ data.cleaning[index] }}</td>
                        <td>{{ data.tweet_tokens[index] }}</td>
                        <td>{{ data.tweet_stopwords[index] }}</td>
                        <td>{{ data.normalization[index] }}</td>
                        <td>{{ data.text_stemming[index] }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %} -->
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}