<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Analisis Sentiment</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {{'active' if active_page=='dashboard' else ''}}">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://drive.google.com/file/d/18M66FB3Ste0ZMLkIkUroxL3K0S9p5aDy/view?usp=sharing">
            <i class="fas fa-fw fa-external-link-alt"></i>
            <!-- <i class="fas fa-external-link"></i> -->
            <span>Google Collab</span></a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://github.com/MaulanaRizkyH1816/klasifikasi">
            <i class="fas fa-fw fa-external-link-alt"></i>
            <!-- <i class="fas fa-external-link"></i> -->
            <span>Github</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Proses
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item {{ 'active' if active_page == 'preprocess' else '' }}">
        <a class="nav-link collapsed" href="/preprocess">
            <i class="fas fa-fw fa-cog"></i>
            <span>Preprocessing</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item {{'active' if active_page== 'crossval' else ''}}">
        <a class="nav-link collapsed" href="/crossval" >
            <i class="fas fa-fw fa-wrench"></i>
            <span>K-Fold CV</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item {{'active' if active_page=='svm' else ''}}">
        <a class="nav-link collapsed" href="svm" >
            <i class="fas fa-fw fa-wrench"></i>
            <span>SVM</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item {{'active' if active_page=='naive' else ''}}">
        <a class="nav-link collapsed" href="naive" >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Naive Bayes</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item {{'active' if active_page=='test' else ''}}">
        <a class="nav-link collapsed" href="test" >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Test Model</span>
        </a>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
